@import url(./fonts.css);

/* Navigation*/
.header_area .main_menu .navbar .navbar-brand {
  padding: 0 2rem 0 5rem;
}
.header_area .main_menu .navbar {
  padding: 1rem 8rem;
}
.header_area .main_menu .nav-item .nav-link {
  font-family: "Roboto";
  font-weight: 800;
  padding: 1, 7rem;
  color: snow;
}
.header_area .main_menu .navbar-nav .active a {
  background: skyblue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.header_area .main_menu .navbar-nav a:hover {
  background: skyblue;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Banner Area */
.site-main .site-banner .site-tittle h1 {
  padding-top: 35%;
  font-size: 4rem;
}

.site-main .site-banner .site-tittle h4 {
  font-size: 1.5rem;
}

.site-main .site-banner .banner-image > img {
  padding: 7rem 0;
  width: 90rem;
  border-radius: 50%;
}

.tittle-text {
  font: normal bold 50px/ 72px "Roboto";
}

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px "Roboto";
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button,
.secondary-button {
  background: rgb(64, 157, 214);
  background-clip: border-box;
  color: snow;
  box-shadow: steelblue;
}

.button.primary-button:hover,
.secondary-button:hover {
  background: rgb(75, 77, 184);
  background-clip: border-box;
  color: snow;
  box-shadow: rgb(90, 52, 133);
}

/* About Area */

.site-main .about-area {
  padding: 8rem 5rem;
}
.site-main .about-area .about-tittle h2 > span {
  font: normal bold 49px/60px "Roboto";
}
.site-main .about-area .about-tittle .paragraph > p {
  padding: 0.4rem 0;
}

p.para {
  font: normal 500 16px/25px "Roboto";
}
